.action-box
	position: absolute
	right: 0
	top: 0
	width: 213px
	height: 100%
	border-left: 1px solid #33442C
	text-align: center
	font-size: 1.2rem

	@media screen and (max-width: $breakpoint-middle)
		width: 185px
		font-size: 1rem

	&__tel
		position: relative
		height: $header-height / 2
		line-height: $header-height / 2
		font-size: 1.25rem

		@media screen and (max-width: $breakpoint-middle)
			font-size: 1rem
			height: $header-middle-height / 2
			line-height: $header-middle-height / 2

		&:before
			content: ''
			display: inline-block
			margin-right: 5px
			@include sprite($ico-tel24)
			vertical-align: middle

	&__request
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: $header-height / 2
		background-color: #CC1C27
		border-bottom: 3px solid #8E0D1C
		color: #FFF
		line-height: $header-height / 2
		text-transform: uppercase
		text-decoration: none

		@media screen and (max-width: $breakpoint-middle)
			height: $header-middle-height / 2
			line-height: $header-middle-height / 2

		&:hover
			background-color: #8E0D1C
