.application
	display: none
	position: fixed
	left: $hacky-block-width
	right: 0
	top: 0
	bottom: 0
	z-index: 4
	transform: translateX(100%)
	transition: transform 0.5s
	background-color: #54634B

	&.is-animate
		transform: translateX(0)

	&.is-open
		display: block

	&__form
		position: absolute
		top: 50%
		left: 50%
		width: 350px
		margin-left: -175px
		transform: translateY(-50%)

		.message
			padding: 8px 20px
			margin-bottom: 5px
			text-align: center
			color: #FFF
			font-size: 0.9rem

			&.success
				background-color: #449D44
			&.error
				background-color: #C9302C

	&__title
		position: relative
		margin-bottom: 36px
		font-size: 1.45em
		color: #FFF
		font-weight: bold

		&:before
			content: ''
			position: absolute
			left: 0
			top: 32px
			width: 37px
			height: 4px
			font-size: 0
			background-color: #1D2318

	&__field
		position: relative
		margin-bottom: 11px

	label
		position: absolute
		top: 18px
		left: 20px
		color: #54634B
		font-size: 0.9em
		pointer-events: none

		&.required
			&:after
				content: '*'
				margin-left: 5px
				color: #FF2424

	input:focus,
	textarea:focus,
	input:not(.is-empty),
	textarea:not(.is-empty)
		&+label
			display: none

	input, textarea
		width: 100%
		padding: 15.5px 15px
		color: #54634B
		font-family: $font-family
		font-size: 1rem
		outline: none
		border: 0

		&:focus
			box-shadow: 0 0 5px 1px #1D2318

	textarea
		height: 100px
		resize: none

	&__field.is-invalid
		input, textarea
			border: 2px solid red

	&__submit
		float: left
		width: 225px
		padding: 10px 0
		border: 0
		border-bottom: 5px solid #891017
		background-color: #CC1C27
		color: #FFF
		font-size: 1.15em
		text-transform: uppercase
		cursor: pointer

		&:after
			content: ''
			display: table
			clear: both

		&:hover
			background-color: #891017

	.close
		position: absolute
		right: 0
		top: 0
		width: 70px
		height: 70px
		background-color: rgba(255, 255, 255, 0.1)
		font-size: 5em
		color: #54634B
		text-align: center
		line-height: 70px
		cursor: pointer

		&:hover
			color: #31402c