.cam-popup
	display: none
	position: relative
	width: 800px
	height: 600px

	.fancybox-overlay &
		display: block

	&__head
		position: absolute
		left: 0
		right: 70px
		top: 0
		height: 70px
		padding: 0 10px
		background-color: rgba(136, 137, 122, 0.8)
		z-index: 2

	&__list
		display: none
		padding: 10px 0

		&.is-active
			display: block

	&__label
		display: inline-block
		margin-right: 10px
		border-bottom: 1px dashed
		cursor: pointer
		color: #21170B
		font-size: 0.9rem

		&.is-active,
		&:hover
			border: 0

	&__type
		font-size: 1.3rem
		color: #263E28
		border-bottom: 1px solid #5B5B5B
		cursor: pointer

		span
			display: inline-block
			margin-right: 15px
			padding: 6px 10px
			text-transform: uppercase
			background-color: #627656
			color: #FFF

			&.is-active
				background-color: transparent
				color: #263E28

	&__content
		position: relative

		&:before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			width: 50px
			height: 50px
			margin: -25px 0 0 -25px
			border: 5px solid rgba(255, 255, 255, 0.7)
			border-top-color: #1D2318
			border-radius: 50%
			animation: spinner 1s linear
			animation-iteration-count: infinite

		input
			position: absolute
			opacity: 0
			visibility: hidden

	&__iframe
		position: relative
		width: 800px
		height: 600px

		iframe
			width: 100%
			height: 100%

	input:checked+&__iframe
		display: block