.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	color: #444;
	text-shadow: none;
	border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
	max-width: 100%;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading {
	/*background-image: url('fancybox_sprite.png');*/
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	/*background: url('fancybox_loading.gif') center center no-repeat;*/
}

.fancybox-close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 8040;
	width: 70px;
	height: 70px;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 5em;
	color: #54634B;
	text-align: center;
	line-height: 70px;
	cursor: pointer;
	text-decoration: none;
}
.fancybox-close:before {
	content: '\00D7';
}
.fancybox-close:hover:before {
	color: #000;
}
.fancybox-close-position, .fancybox-close {
	top: 0;
	right: 0!important;
}
.fancybox-close:hover {
	background-position: -1px -91px;
	opacity: 1;
}
.cam-close-butt .fancybox-close {
	top: 16px;
	right: -25px;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	z-index: 8040;
}

.fancybox-prev {
	left: -45px;
}

.fancybox-next {
	right: -45px;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 34px;
	height: 60px;
	margin-top: -30px;
	cursor: pointer;
	z-index: 8040;
	opacity: .7;
	/*background-image: url("../../pic/design/icons.png");*/
	background-repeat: no-repeat;
}
.fancybox-nav span:hover {
	opacity: 1;
}
.fancybox-prev span {
	left: 0;
	background-position: -544px -100px;
}

.fancybox-next span {
	right: 0;
	background-position: -604px -100px;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
		overflow: hidden !important;
		width: auto;
}

.fancybox-lock body {
		overflow: hidden !important;
}

.fancybox-lock-test {
		overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 42px;
	overflow: auto;
	display: none;
	z-index: 8010;
	background: #54634B;
	background-size: cover !important;
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font-family: "Tahoma";
	font-size: 14px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-shadow: none;
	z-index: 8050;
	background: rgba(0,0,0,.7);
	width: 100%;
	padding: 10px 20px;
	color: #fff;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -48px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	/*margin-right: -100%;*/
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}