.information
	position: absolute
	left: $hacky-block-width
	right: 40%
	top: 0
	height: 100%
	padding-top: ($header-height + 15px)
	overflow: hidden
	background-color: #FFF
	color: #303030
	z-index: 2

	@media screen and (max-width: $breakpoint-small)
		right: 0

	a
		color: #A22028

	a:hover
			text-decoration: none

	&__header
		position: fixed
		top: 0
		left: $hacky-block-width
		height: $header-height
		right: 40%
		min-width: 433px
		background-color: #445A3B
		color: #FFF
		z-index: 2

		@media screen and (max-width: $breakpoint-middle)
			height: $header-middle-height

		@media screen and (max-width: $breakpoint-small)
			min-width: auto
			right: 0

		h1
			position: absolute
			top: 9px
			left: 19px
			text-indent: -1000em
			@include sprite($logo)

			@media screen and (max-width: $breakpoint-middle)
				@include sprite($logo-small)

	&__footer
		padding: 10px 20px
		background-color: #2B2B2B
		color: #FFF
		font-size: 0.8em
		line-height: 1.2

	&__content
		padding: 0 $information-right-padding 0 $information-left-padding
		color: #717171
		font-size: 0.9em
		line-height: 1.35

		@media screen and (max-width: $breakpoint-xsmall)
			padding: 0 0 0 5px

	h2
		position: relative
		margin-bottom: 20px
		padding-bottom: 10px
		font-size: 1.15rem
		font-weight: bold
		color: #303030

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: 0
			width: 30px
			height: 4px
			background-color: #CC1C27
			font-size: 0

	p+h2
		margin-top: 15px

	p+p
		margin-top: 20px

	&__slider
		position: relative
		margin: 15px -1*$information-right-padding 15px -1*$information-left-padding
		overflow: hidden

		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0, transparent 12%, transparent 88%, rgba(0, 0, 0, 0.4) 100%)
			z-index: 1
			pointer-events: none

		>img:nth-child(n + 2)
			display: none

		img
			float: left
			width: 100%
			pointer-events: none

			@media screen and (max-width: $breakpoint-small)
				pointer-events: auto
				cursor: pointer

		.prev,
		.next
			position: absolute
			top: 45%
			width: 25px
			height: 25px
			border: 4px solid #FFF
			transform: rotate(45deg)
			z-index: 1
			cursor: pointer

		.next
			right: 15px
			border-bottom-width: 0
			border-left-width: 0
		.prev
			left: 15px
			border-top-width: 0
			border-right-width: 0

.requirements
	margin: 20px -1*$information-right-padding 20px -1*$information-left-padding
	padding: 12px 0
	background-color: #DBDAD4
	color: #303030
	text-align: center

	&__title
		margin-bottom: 12px
		font-weight: bold
		font-size: 1.1rem

	&__list
		display: flex
		justify-content: space-around
		width: 90%
		margin: 0 auto

		@media screen and (max-width: $breakpoint-xsmall)
			flex-direction: column

	&__item
		display: inline-block
		width: 115px
		flex-shrink: 0

		@media screen and (max-width: $breakpoint-xsmall)
			width: 100%
			margin-bottom: 10px

		&:before
			content: ''
			display: block
			margin: 0 auto 9px

			@media screen and (max-width: $breakpoint-xsmall)
				display: none

		&:nth-of-type(1):before
			@include sprite($ico-doc-1)
		&:nth-of-type(2):before
			@include sprite($ico-doc-2)
		&:nth-of-type(3):before
			@include sprite($ico-doc-3)
