.section-offers
	position: absolute
	top: 0
	right: 0
	width: 40%
	height: 100%
	z-index: 2

	@media screen and (max-width: $breakpoint-small)
		display: none

.offer-list
	height: 100%

	&__item
		position: relative
		height: 33.333%
		overflow: hidden
		box-sizing: border-box
		color: #FFF
		cursor: pointer

		&:nth-child(1)
			background: url('/pic/design/office-1.jpg') 50% 50% no-repeat
			background-size: cover

		&:nth-child(2)
			background: url('/pic/design/office-2.jpg') 50% 0 no-repeat
			background-size: cover

		&:nth-child(3)
			background: url('/pic/design/office-3.jpg') 50% 50% no-repeat
			background-size: cover

	&__popup
		position: absolute
		left: 0
		top: 100%
		width: 100%

	.offer
		padding: 0 15px 3px
		transform: translateY(-40px)
		background-color: rgba(0, 0, 0, 0.7)
		transition: transform 0.4s
		font-size: 0.9em

		&__title
			height: 40px
			line-height: 40px

		&__data
			position: relative
			margin-bottom: 9px

			&.address,
			&.price,
			&.square,
			&.percent
				padding-left: 20px

				&:before
					content: ''
					display: inline-block
					margin-left: -20px
					margin-right: 9px

			&.address
				&:before
					@include sprite($ico-geo-small)

			&.price
				&:before
					margin-right: 10px
					@include sprite($ico-price-small)

			&.square
				&:before
					margin-right: 8px
					@include sprite($ico-square-small)

			&.percent
				&:before
					@include sprite($ico-percent)

		&__more
			position: relative
			display: inline-block
			padding: 8px 20px 8px 10px
			border-right: 2px solid #6A040C
			background-color: #8E0D1C

			&:hover
				background-color: #6A040C

			&:before
				content: ''
				position: absolute
				right: 0
				top: 50%
				margin-top: -6px
				border: 6px solid #FFF
				border-color: transparent transparent transparent #FFF
				font-size: 0
				height: 0

	&__item:hover .offer
		transform: translateY(-100%)

		@media screen and (max-height: 510px)
			&
				transform: translateY(-70%)
