$ps-rail-hover: #eee;
$ps-bar-default: #333;
$ps-bar-hover: #999;
$ps-bar-width: 5px;

@mixin scrollbar-rail-default {
  display: none;
  position: absolute;
  border-radius: 4px;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  cursor: pointer;
}

@mixin scrollbar-rail-hover {
  background-color: $ps-rail-hover;
  opacity: 0.9;
}

@mixin scrollbar-default {
  position: absolute;
  background-color: $ps-bar-default;
  border-radius: 4px;
  transition: background-color .2s linear;
}

@mixin scrollbar-hover {
  background-color: $ps-bar-hover;
}

@mixin in-scrolling {
  &.ps-in-scrolling {
    pointer-events: none;

    &.ps-y>.ps-scrollbar-y-rail {
      @include scrollbar-rail-hover;
      >.ps-scrollbar-y {
        @include scrollbar-hover;
      }
    }
  }
}

.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important;

  &.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
  }

  @include in-scrolling;

  >.ps-scrollbar-y-rail {
    @include scrollbar-rail-default;
    right: 3px;
    width: $ps-bar-width;

    >.ps-scrollbar-y {
      @include scrollbar-default;
      right: 0;
      width: $ps-bar-width;
    }
  }

  &:hover {
    @include in-scrolling;

    >.ps-scrollbar-y-rail {
      opacity: 0.7;
    }

    >.ps-scrollbar-y-rail:hover {
      @include scrollbar-rail-hover;

      >.ps-scrollbar-y {
        @include scrollbar-hover;
      }
    }
  }
}
